# Django Core Settings

SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=

# Database Switch
USE_POSTGRES=False

# PostgreSQL Config (only used if USE_POSTGRES=True)
DATABASE_URL=postgres://hsuser:hspass@localhost:5432/hsdb